<html>
    <head>
        <title>The Gossip Project</title>
    </head>
    <body>
        <h1>Gossip n° <%= id %></h1>

        <p>
            Son auteur : <%= gossip.author %>
            <br/>
            <br/>
            Le contenu du potin : <%= gossip.content %>
            <br/>
        </p>
    </body>
</html>